.tile.tile-position-1-1{
position:absolute;
left:0;
top:0;
}
.tile.tile-position-1-2{
position:absolute;
left:0;
top:121;
}
.tile.tile-position-1-3{
position:absolute;
left:0;
top:242;
}
.tile.tile-position-1-4{
position:absolute;
left:0;
top:363;
}
.tile.tile-position-2-1{
position:absolute;
left:121;
top:0;
}
.tile.tile-position-2-2{
position:absolute;
left:121;
top:121;
}
.tile.tile-position-2-3{
position:absolute;
left:121;
top:242;
}
.tile.tile-position-2-4{
position:absolute;
left:121;
top:363;
}
.tile.tile-position-3-1{
position:absolute;
left:242;
top:0;
}
.tile.tile-position-3-2{
position:absolute;
left:242;
top:121;
}
.tile.tile-position-3-3{
position:absolute;
left:242;
top:242;
}
.tile.tile-position-3-4{
position:absolute;
left:242;
top:363;
}
.tile.tile-position-4-1{
position:absolute;
left:363;
top:0;
}
.tile.tile-position-4-2{
position:absolute;
left:363;
top:121;
}
.tile.tile-position-4-3{
position:absolute;
left:363;
top:242;
}
.tile.tile-position-4-4{
position:absolute;
left:363;
top:363;
}
